export SCHEME="http"
export SERVER_URI="localhost:3000"
export NODE_ENV="dev"
export AMAZON_KEY=""
export AMAZON_SECRET=""
export JWT_SECRET=""
export ENCRYPT_KEY=""
export DB_NAME=""
export DB_HOST=""
export DB_PORT=""
export DB_USER=""
export DB_PASS=""
export WEBAPP_URL=""
export CONFIG_TEMPLATE=""
export OAUTH_SCOPES=""
export OAUTH_CLIENT_SECRET=""
export OAUTH_CLIENT_ID=""
export OAUTH_CLIENT_REDIRECTS=""

nodemon --exec "ts-node" ./src/index.ts
