export SCHEME="http"
export SERVER_URI="localhost:3000"
export NODE_ENV="dev"
export AMAZON_KEY=""
export AMAZON_SECRET=""
export JWT_SECRET=""
export ENCRYPT_KEY=""

nodemon --exec "ts-node" ./src/index.ts
